<div class="container">
  
<article class="message is-dark">
  <div class="message-header">
    <p>Cadastro</p>
</div>
 </article>

<div class="box">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
  <div class="field">
      <%= f.input :email,input_html: { class: 'input'}, required: true, autofocus: true ,placeholder:"Email", wrapper_html: {class: 'control'}%>
  </div>

  <div class="field">
      <%= f.input :password,input_html: { class: 'input'} ,placeholder: "Password", required: true ,wrapper_html: {class: 'control'}%>
  </div>

  <div class="field">
      <%= f.input :password_confirmation,required: true,input_html: { class: 'input'} ,placeholder: "Password", required: true ,wrapper_html: {class: 'control'}%>
  </div>
  <br></br>
    
    <div class="buttons">
      <%= f.button :submit, "Enviar" ,class: "button is-link"%>
      <%= link_to "Já tem Cadastro", new_session_path(resource_name) ,class: "button"%><br />
    </div>

<% end %>
</div>
</div>
