<p id="notice"><%= notice %></p>

<% @artists.each do |artist| %>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <%=image_tag(artist.artist_photo.url, class: "image is-96x96")%>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= artist.name %></strong> <small>@<%= artist.nick_name %></small> <small></small>
          <br>
          <%= artist.description %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'Show', artist ,class: "button is-link"%>
            </p>

            <p class="control">
              <%= link_to 'Editar', edit_artist_path(artist),class: "button" %>
            </p>
            <p class="control">
              <%= link_to 'Deletar', artist,class: "button is-danger",method: :delete, data: { confirm: 'Você tem certeza?' } %>
            </p>
          </div>
        </div>
      </nav>
    </div>
  </article>
</div>
<% end %>
<%= link_to 'Novo artista', new_artist_path,class: "button is-info is-inverted" %>
