
<%= simple_form_for @tour do |f| %>
  <% if f.error_notification.present?  %>
    <div class="notification">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  <% end %>
<div class="box">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <%= f.input :name,label: false ,input_html: {class: 'input'}%>
    </div>
  </div>
  <div class="field">
    <label class="label">Data de Lançamento</label>
    <div class="control">
      <%= f.input :date_show,html5: true,label: false ,input_html: {class: 'input'}%>
    </div>
  </div>

  <div class="field">
    <label class="label">Descrição</label>
    <div class="control">
      <%= f.input :description, label: false ,input_html: {class: 'textarea'}%>
    </div>
  </div>

  <div class="field">
    <label class="label">Foto de divulgação do Show</label>
      <div class="control">
        <%= f.input :tour_photo,as: :file,label: false ,input_html: {class: 'input'}%>
    </div>
  </div>

  <div class= "control">
    <%= f.button :submit ,class: "button is-primary"%>
  </div>
</div>
<% end %>
