<div class="container">
  <p id="notice"><%= notice %></p>

  <% @tours.each do |tour| %>
  <div class="box">
    <article class="media">
      <% if tour.tour_photo.present? %>
        <div class="media-left">
          <figure class="image is-64x64">
            <%= cl_image_tag tour.tour_photo.filename + ".jpg",class: "image is-96x96",secure: true%>
          </figure>
        </div>
      <% end %>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= tour.name %></strong> <small>@<%=l tour.date_show %></small> <small></small>
            <br>
            <%= tour.description %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to 'Ver', tour ,target: "_blank",class: "button is-link"%>
              </p>
              <% if current_user.present? %>
                <p class="control">
                  <%= link_to 'Editar', edit_tour_path(tour),class: "button" %>
                </p>
                <p class="control">
                  <%= link_to 'Deletar', tour,class: "button is-danger",method: :delete, data: { confirm: 'Você tem certeza?' } %>
                </p>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    </article>
  </div>
  <% end %>
  <% if current_user.present? %>
    <%= link_to 'Novo Show', new_tour_path,class: "button is-info is-inverted" %>
  <% end %>
</div>
