<section class="section">
    <div class="container has-text-centered" id="div-band">
        <h2 class="title">A Banda</h2>
        <p><%= @band.description if @band.present?%></p>

        <div class="columns is-centered" style="padding: 2rem">
            <% @artists.each do |artist| %>
            <div class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <% if artist.artist_photo.present? %>  
                                <%= cl_image_tag artist.artist_photo.filename + ".jpg",class: "image is-64x64",secure: true%>
                            <% end %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4"><%= artist.name %></p>
                                <p class="subtitle is-6">@<%= artist.nick_name %></p>
                            </div>
                        </div>

                        <div class="content">
                            <%= artist.description[0..100] %>...
                        </div>
                    </div>
                </div>

            </div>
        <% end %>
        </div>
    </div>
    </div>
</section>