<section class="hero">
    <figure class="image is-2by1">
        <%=image_tag(@band.band_photo.url)%>
    </figure>
</section>
<%= render partial: "band",object: @artists %>
<%= render partial: "discography",object: @discographies %>
<%= render partial: "tour" ,object: @tours %>
<%= render partial: "contact" %>
