<%= simple_form_for @band do |f| %>
  <% if f.error_notification.present?  %>
    <div class="notification">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  <% end %>
<div class="box">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <%= f.input :name,label: false ,input_html: {class: 'input'}%>
    </div>
  </div>

  <div class="field">
    <label class="label">Descrição</label>
    <div class="control">
      <%= f.input :description, label: false ,input_html: {class: 'textarea'}%>
    </div>
  </div>

    <div id ="photos">
      <%= f.simple_fields_for :photos do |ph| %>
        <%= render 'photo_fields', f: ph %>
      <% end %>
    </div>
    
    <div class="links">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <%= link_to_add_association '+Fotos', f, :photos,class: "button is-success"%>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class= "control">
    <%= f.button :submit ,class: "button is-primary"%>
  </div>
<% end %>
