<p id="notice"><%= notice %></p>

<% @bands.each do |band| %>

<div class="card">
  <div class="card-image">
    <figure class="image is-3by2">
        <%= cl_image_tag band.band_photo.filename + ".jpg",class: "image is-96x96",secure: true%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= band.name %></p>
        <p class="subtitle is-6">MV</p>
      </div>
    </div>
    <div class="content">
      <%= band.description %>
    </div>
  </div>
</div>
&nbsp;
<div class="field is-grouped">
  <p class="control">
    <%= link_to 'Show', band ,class: "button is-link"%>
  </p>

  <p class="control">
    <%= link_to 'Editar', edit_band_path(band),class: "button" %>
  </p>
  <p class="control">
    <%= link_to 'Deletar', band,class: "button is-danger",method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>

<% end %>

<%= link_to 'Nova Banda', new_band_path,class: "button is-info is-inverted" %>
