<%= form_with(model: discography, local: true) do |form| %>
  <% if discography.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discography.errors.count, "error") %> prohibited this discography from being saved:</h2>

      <ul>
      <% discography.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date_rise %>
    <%= form.date_select :date_rise %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
