<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bandmusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item">
                Nome da banda
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <%= link_to "Home", root_path ,class: "navbar-item" %>

                <a class="navbar-item" id="band_id">
                    Band
                </a>
                <a class="navbar-item" id="tour_id">
                    Tour
                </a>
                <a class="navbar-item" id="contact_id">
                    Contact
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item">
                            Mechandise
                        </a>
                        <a class="navbar-item" >
                            Extras
                        </a>
                        <a class="navbar-item">
                            Fotos
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </nav>



    <section>
        <%= yield %>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-snapchat fa-2x"></i>
                    </a>
                </p>
                <p>
                    <a href="https://bulma.io">
                        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                </p>
            </div>
        </div>
    </footer>

</body>
</html>
<script type="text/javascript">

    $("#band_id").click(function() {
        $('html,body').animate({
            scrollTop: $("#div-band").offset().top},
            'slow');
    });

    $("#contact_id").click(function() {
        $('html,body').animate({
            scrollTop: $("#div_contact").offset().top},
            'slow');
    });
    $("#tour_id").click(function() {
        $('html,body').animate({
            scrollTop: $("#div_tour").offset().top},
            'slow');
    });
</script>